:root {
    --border: #2e344e;
    --bg-color: #191d2b;
    --text-color: white;
    --link-color: white;
    --active-link-color: #4CAF50;
}

.bg-light {
    padding: 0px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 0px;
}

.padding {
    padding: 0px;
    position: relative;
    left: 25%;
    margin-bottom: 195px;
}

.bg-all {
    background-color: var(--bg-color);
}